<!-- FOOTER MIDDLE AREA -->
<div class="footer-middle">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-3 ">
                <div id="about_us-widget-7" class="widget about_us"><h2 class="widget-title">Candidate Info</h2>
                    <!-- About Widget -->
                    <div class="about-footer">
                        <div class="footer-widget address">
                            <div class="footer-logo">

                                <p>Lorem ipsum dolor sit amet, consect sicing elit, sed do eiusmod tempor is inci ut
                                    labore et dolore mag </p>
                            </div>
                            <div class="footer-address">
                                <div class="footer_s_inner">
                                    <div class="footer-sociala-icon">
                                        <i class="fa fa-map-marker"></i>
                                    </div>
                                    <div class="footer-sociala-info">
                                        <p>Road-7, House-62, Dhaka.</p>
                                    </div>
                                </div>
                                <div class="footer_s_inner">
                                    <div class="footer-sociala-icon">
                                        <i class="fa fa-phone"></i>
                                    </div>
                                    <div class="footer-sociala-info">
                                        <p>+770 698 784 235</p>
                                    </div>
                                </div>

                                <div class="footer_s_inner">
                                    <div class="footer-sociala-icon">
                                        <i class="fa fa-globe"></i>
                                    </div>
                                    <div class="footer-sociala-info">
                                        <p>exam@gmail.com</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="col-sm-6 col-md-3 ">
                <div id="nav_menu-6" class="widget widget_nav_menu"><h2 class="widget-title">Quick Link</h2>
                    <div class="menu-help-link-container">
                        <ul id="menu-help-link" class="menu">
                            <li id="menu-item-650"
                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-650"><a
                                        href="#">Search Engine Optimization</a></li>
                            <li id="menu-item-82"
                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-82"><a
                                        href="#">Pay Per Click Management</a></li>
                            <li id="menu-item-83"
                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-83"><a
                                        href="#">Real Time Analytics</a></li>
                            <li id="menu-item-84"
                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-84"><a
                                        href="#">Search Engine Optimization</a></li>
                            <li id="menu-item-85"
                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-85"><a
                                        href="#">Free SEO Analysis</a></li>
                            <li id="menu-item-86"
                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-86"><a
                                        href="#">Company &#038; Contact Info</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-3 ">
                <div id="em_recent_post_widget-8" class="widget widget_recent_data">
                    <div class="single-widget-item">
                        <h2 class="widget-title">Popular Post</h2>
                        <div class="recent-post-item">
                            <div class="recent-post-image">
                                <a href="https://wp.dreamitsolution.net/lidership/3-ways-to-transform-your-blog-into-a-seo-machine-3/">

                                    <img width="80" height="80"
                                         src="/bundles/app/uploads/2018/08/blog3-80x80.jpg"
                                         class="attachment-lidership_recent_image size-lidership_recent_image wp-post-image"
                                         alt="" loading="lazy"
                                         srcset="uploads/2018/08/blog3-80x80.jpg 80w, /bundles/app/uploads/2018/08/blog3-150x150.jpg 150w, uploads/2018/08/blog3-450x450.jpg 450w, uploads/2018/08/blog3-106x106.jpg 106w, uploads/2018/08/blog3-560x550.jpg 560w"
                                         sizes="(max-width: 80px) 100vw, 80px"/>
                                </a>

                            </div>
                            <div class="recent-post-text">
                                <h4>
                                    <a href="https://wp.dreamitsolution.net/lidership/3-ways-to-transform-your-blog-into-a-seo-machine-3/">
                                        3 Ways to Transform Your Blog Into
                                    </a></h4>
                                <span class="rcomment">September 24, 2021</span>
                            </div>
                        </div>

                        <div class="recent-post-item">
                            <div class="recent-post-image">
                                <a href="https://wp.dreamitsolution.net/lidership/3-ways-to-transform-your-blog-into-a-seo-machine-2/">

                                    <img width="80" height="80"
                                         src="/bundles/app/uploads/2018/08/blog2-80x80.jpg"
                                         class="attachment-lidership_recent_image size-lidership_recent_image wp-post-image"
                                         alt="" loading="lazy"
                                         srcset="uploads/2018/08/blog2-80x80.jpg 80w, /bundles/app/uploads/2018/08/blog2-150x150.jpg 150w, uploads/2018/08/blog2-450x450.jpg 450w, uploads/2018/08/blog2-106x106.jpg 106w, uploads/2018/08/blog2-560x550.jpg 560w"
                                         sizes="(max-width: 80px) 100vw, 80px"/>
                                </a>

                            </div>
                            <div class="recent-post-text">
                                <h4>
                                    <a href="https://wp.dreamitsolution.net/lidership/3-ways-to-transform-your-blog-into-a-seo-machine-2/">
                                        3 Ways to Transform Your Blog Into
                                    </a></h4>
                                <span class="rcomment">September 24, 2021</span>
                            </div>
                        </div>

                        <div class="recent-post-item">
                            <div class="recent-post-image">
                                <a href="https://wp.dreamitsolution.net/lidership/keep-quiet-and-continue-working-hard/">

                                    <img width="80" height="80"
                                         src="/bundles/app/uploads/2018/08/blog5-80x80.jpg"
                                         class="attachment-lidership_recent_image size-lidership_recent_image wp-post-image"
                                         alt="" loading="lazy"
                                         srcset="uploads/2018/08/blog5-80x80.jpg 80w, /bundles/app/uploads/2018/08/blog5-150x150.jpg 150w, uploads/2018/08/blog5-450x450.jpg 450w, uploads/2018/08/blog5-106x106.jpg 106w, uploads/2018/08/blog5-560x550.jpg 560w"
                                         sizes="(max-width: 80px) 100vw, 80px"/>
                                </a>

                            </div>
                            <div class="recent-post-text">
                                <h4>
                                    <a href="https://wp.dreamitsolution.net/lidership/keep-quiet-and-continue-working-hard/">
                                        Keep Quiet And Continue Working Hard
                                    </a></h4>
                                <span class="rcomment">September 24, 2021</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-3 last">
                <div id="mc4wp_form_widget-5" class="widget widget_mc4wp_form_widget"><h2 class="widget-title">
                        Newsletter</h2>
                    <script>(function () {
                            window.mc4wp = window.mc4wp || {
                                        listeners: [],
                                        forms: {
                                            on: function (evt, cb) {
                                                window.mc4wp.listeners.push(
                                                        {
                                                            event: evt,
                                                            callback: cb
                                                        }
                                                );
                                            }
                                        }
                                    }
                        })();
                    </script>
                    <!-- Mailchimp for WordPress v4.8.6 - https://wordpress.org/plugins/mailchimp-for-wp/ -->
                    <form id="mc4wp-form-1" class="mc4wp-form mc4wp-form-107" method="post" data-id="107"
                          data-name="Newsletter">
                        <div class="mc4wp-form-fields">
                            <p>
                                <input type="text" name="NAME" placeholder="Enter Name*" required/>
                                <input type="email" name="email" placeholder="Enter Email*" required/>
                                <textarea name="textarea" placeholder="Message"></textarea>
                                <button type="submit">Send Message</button>
                            </p>
                        </div>
                        <label style="display: none !important;">Leave this field empty if you're human: <input
                                    type="text" name="_mc4wp_honeypot" value="" tabindex="-1"
                                    autocomplete="off"/></label><input type="hidden" name="_mc4wp_timestamp"
                                                                       value="1637057914"/><input type="hidden"
                                                                                                  name="_mc4wp_form_id"
                                                                                                  value="107"/><input
                                type="hidden" name="_mc4wp_form_element_id" value="mc4wp-form-1"/>
                        <div class="mc4wp-response"></div>
                    </form><!-- / Mailchimp for WordPress Plugin --></div>
            </div>

        </div>
    </div>
</div>

<!-- END FOOTER MIDDLE AREA -->


<!-- FOOTER BOTTOM AREA -->
<div class="footer-bottom">
    <div class="container">
        <div class="row">

            <!-- FOOTER COPYRIGHT STYLE 1 -->

            <div class="col-md-6  col-sm-6">
                <div class="copy-right-text">
                    <!-- FOOTER COPYRIGHT TEXT -->
                    <p>
                        Copyright © lidership all rights reserved. </p>

                </div>
            </div>
            <div class="col-md-6  col-sm-6">
                <div class="footer-menu">
                    <!-- FOOTER COPYRIGHT MENU -->
                    <ul id="menu-footer-menu" class="text-right">
                        <li id="menu-item-986"
                            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-986"><a
                                    href="#">Home</a></li>
                        <li id="menu-item-987"
                            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-987"><a
                                    href="#">About</a></li>
                        <li id="menu-item-988"
                            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-988"><a
                                    href="#">Team</a></li>
                        <li id="menu-item-989"
                            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-989"><a
                                    href="#">Register</a></li>
                    </ul>
                </div>
            </div>
            <!-- FOOTER COPYRIGHT STYLE 3 -->

        </div>
    </div>
</div>
<!-- END FOOTER BOTTOM AREA -->


</div>
<!-- MAIN WRAPPER END -->

<script>(function () {
        function maybePrefixUrlField() {
            if (this.value.trim() !== '' && this.value.indexOf('http') !== 0) {
                this.value = "http://" + this.value;
            }
        }

        var urlFields = document.querySelectorAll('.mc4wp-form input[type="url"]');
        if (urlFields) {
            for (var j = 0; j < urlFields.length; j++) {
                urlFields[j].addEventListener('blur', maybePrefixUrlField);
            }
        }
    })();</script><!-- Instagram Feed JS -->

<script type='text/javascript' src='/bundles/app/includes/js/dist/vendor/regenerator-runtime.min.js'
        id='regenerator-runtime-js'></script>
<script type='text/javascript' src='/bundles/app/includes/js/dist/vendor/wp-polyfill.min.js' id='wp-polyfill-js'></script>
<script type='text/javascript' id='contact-form-7-js-extra'>
    /* <![CDATA[ */
    var wpcf7 = {
        "api": {
            "root": "https:\/\/wp.dreamitsolution.net\/lidership\/wp-json\/",
            "namespace": "contact-form-7\/v1"
        }, "cached": "1"
    };
    /* ]]> */
</script>
<script type='text/javascript' src='/bundles/app/plugins/contact-form-7/includes/js/index.js' id='contact-form-7-js'></script>
<script type='text/javascript' src='/bundles/app/js/modernizr.custom.79639.js' id='modernizrs-js'></script>
<script type='text/javascript' src='/bundles/app/js/jquery.directional-hover.min.js' id='mouse-directions-js'></script>
<script type='text/javascript' src='/bundles/app/js/vendor/modernizr-2.8.3.min.js' id='modernizr-js'></script>
<script type='text/javascript' src='/bundles/app/js/bootstrap.min.js' id='bootstrap-js'></script>
<script type='text/javascript' src='/bundles/app/includes/js/imagesloaded.min.js' id='imagesloaded-js'></script>
<script type='text/javascript' src='/bundles/app/js/jquery.meanmenu.js' id='meanmenu-js'></script>
<script type='text/javascript' src='/bundles/app/js/isotope.pkgd.min.js' id='isotope-js'></script>
<script type='text/javascript' src='/bundles/app/js/owl.carousel.min.js' id='owl-carousel-js'></script>
<script type='text/javascript' src='/bundles/app/js/jquery.scrollUp.js' id='scrollup-js'></script>
<script type='text/javascript' src='/bundles/app/js/jquery.nivo.slider.pack.js' id='nivo-slider-js'></script>
<script type='text/javascript' src='/bundles/app/js/headroom.min.js' id='headroom-js'></script>
<script type='text/javascript' src='/bundles/app/js/jquery.counterup.min.js?ver=3.2.4' id='jquery.counterup-js'></script>
<script type='text/javascript' src='/bundles/app/js/slick.min.js' id='slick-js'></script>
<script type='text/javascript' src='/bundles/app/js/jquery.nav.js' id='jquery.nav-js'></script>
<script type='text/javascript' src='/bundles/app/js/headline.js' id='animate-text-js'></script>
<script type='text/javascript' src='/bundles/app/js/particles.min.js' id='particles-effect-js'></script>
<script type='text/javascript' src='/bundles/app/js/app.js' id='particles-app-js'></script>
<script type='text/javascript' src='/bundles/app/js/jquery.countdown.min.js' id='countdown-js'></script>
<script type='text/javascript' src='/bundles/app/js/wow.js' id='wow-js'></script>
<script type='text/javascript' src='/bundles/app/js/jquery-scrolltofixed-min.js' id='jquery-scrolltofixed-js'></script>
<script type='text/javascript' src='/bundles/app/css/venobox.min.js' id='venobox-js'></script>
<script type='text/javascript' src='/bundles/app/js/waypoints.min.js' id='waypoints-js'></script>
<script type='text/javascript' src='/bundles/app/js/navigation.js' id='lidership-navigation-js'></script>
<script type='text/javascript' src='/bundles/app/js/skip-link-focus-fix.js' id='lidership-skip-link-focus-fix-js'></script>
<script type='text/javascript' src='/bundles/app/js/theme.js' id='lidership-theme-js'></script>
<script type='text/javascript' src='/bundles/app/plugins/kingcomposer/assets/frontend/js/kingcomposer.min.js'
        id='kc-front-scripts-js'></script>
<script type='text/javascript' src='/bundles/app/includes/js/wp-embed.min.js' id='wp-embed-js'></script>
<script type='text/javascript' defer src='/bundles/app/plugins/mailchimp-for-wp/assets/js/forms.js' id='mc4wp-forms-api-js'></script>

</body>
</html>