<!DOCTYPE html>
<html lang="en-US">
<head>
    {% block meta %}{% endblock %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="{%- block keywords -%}{{ 'meta.keywords'|trans }}{%- endblock -%}"/>
    <meta name="description" content="{%- block description -%}{{ 'meta.description'|trans }}{%- endblock -%}"/>
    <title>{%- block title -%}{{ 'header.title'|trans }}{%- endblock -%}</title>
    <meta name='yandex-verification' content=''/>
    <meta name="google-site-verification" content=""/>
    <meta name='robots' content='max-image-preview:large'/>
    <link rel='dns-prefetch' href='//fonts.googleapis.com'/>
    <link rel='dns-prefetch' href='//s.w.org'/>
    <script type="text/javascript">
        window._wpemojiSettings = {
            "baseUrl": "https:\/\/s.w.org\/images\/core\/emoji\/13.1.0\/72x72\/",
            "ext": ".png",
            "svgUrl": "https:\/\/s.w.org\/images\/core\/emoji\/13.1.0\/svg\/",
            "svgExt": ".svg",
            "source": {"concatemoji": "https:\/\/wp.dreamitsolution.net\/lidership\/wp-includes\/js\/wp-emoji-release.min.js?ver=5.8.2"}
        };
        !function (e, a, t) {
            var n, r, o, i = a.createElement("canvas"), p = i.getContext && i.getContext("2d");

            function s(e, t) {
                var a = String.fromCharCode;
                p.clearRect(0, 0, i.width, i.height), p.fillText(a.apply(this, e), 0, 0);
                e = i.toDataURL();
                return p.clearRect(0, 0, i.width, i.height), p.fillText(a.apply(this, t), 0, 0), e === i.toDataURL()
            }

            function c(e) {
                var t = a.createElement("script");
                t.src = e, t.defer = t.type = "text/javascript", a.getElementsByTagName("head")[0].appendChild(t)
            }

            for (o = Array("flag", "emoji"), t.supports = {
                everything: !0,
                everythingExceptFlag: !0
            }, r = 0; r < o.length; r++) t.supports[o[r]] = function (e) {
                if (!p || !p.fillText) return !1;
                switch (p.textBaseline = "top", p.font = "600 32px Arial", e) {
                    case"flag":
                        return s([127987, 65039, 8205, 9895, 65039], [127987, 65039, 8203, 9895, 65039]) ? !1 : !s([55356, 56826, 55356, 56819], [55356, 56826, 8203, 55356, 56819]) && !s([55356, 57332, 56128, 56423, 56128, 56418, 56128, 56421, 56128, 56430, 56128, 56423, 56128, 56447], [55356, 57332, 8203, 56128, 56423, 8203, 56128, 56418, 8203, 56128, 56421, 8203, 56128, 56430, 8203, 56128, 56423, 8203, 56128, 56447]);
                    case"emoji":
                        return !s([10084, 65039, 8205, 55357, 56613], [10084, 65039, 8203, 55357, 56613])
                }
                return !1
            }(o[r]), t.supports.everything = t.supports.everything && t.supports[o[r]], "flag" !== o[r] && (t.supports.everythingExceptFlag = t.supports.everythingExceptFlag && t.supports[o[r]]);
            t.supports.everythingExceptFlag = t.supports.everythingExceptFlag && !t.supports.flag, t.DOMReady = !1, t.readyCallback = function () {
                t.DOMReady = !0
            }, t.supports.everything || (n = function () {
                t.readyCallback()
            }, a.addEventListener ? (a.addEventListener("DOMContentLoaded", n, !1), e.addEventListener("load", n, !1)) : (e.attachEvent("onload", n), a.attachEvent("onreadystatechange", function () {
                "complete" === a.readyState && t.readyCallback()
            })), (n = t.source || {}).concatemoji ? c(n.concatemoji) : n.wpemoji && n.twemoji && (c(n.twemoji), c(n.wpemoji)))
        }(window, document, window._wpemojiSettings);
    </script>
    <style type="text/css">
        img.wp-smiley,
        img.emoji {
            display: inline !important;
            border: none !important;
            box-shadow: none !important;
            height: 1em !important;
            width: 1em !important;
            margin: 0 .07em !important;
            vertical-align: -0.1em !important;
            background: none !important;
            padding: 0 !important;
        }
    </style>
    {% block stylesheets %}
        <link rel='stylesheet' id='sb_instagram_styles-css'
              href='/bundles/app/plugins/instagram-feed/css/sbi-styles.min.css'
              type='text/css' media='all'/>
        <link rel='stylesheet' id='wp-block-library-css'
              href='/bundles/app/includes/css/dist/block-library/style.min.css'
              type='text/css' media='all'/>
        <link rel='stylesheet' id='contact-form-7-css'
              href='/bundles/app/plugins/contact-form-7/includes/css/styles.css' type='text/css'
              media='all'/>
        <link rel='stylesheet' id='give-styles-css' href='/bundles/app/plugins/give/assets/dist/css/give.css'
              type='text/css'
              media='all'/>
        <link rel='stylesheet' id='bootstrap-css' href='/bundles/app/css/bootstrap.min.css' type='text/css'
              media='all'/>
        <link rel='stylesheet' id='lidership-fonts-css'
              href='https://fonts.googleapis.com/css?family=Merriweather%3A300%2C400%2C500%2C600%2C700%2C800%2C900%7CRufina%3A300%2C400%2C500%2C600%2C700%2C800%2C900&#038;subset=latin%2Clatin-ext&#038;ver=5.8.2'
              type='text/css' media='all'/>
        <link rel='stylesheet' id='venobox-css' href='/bundles/app/css/venobox.css' type='text/css' media='all'/>
        <link rel='stylesheet' id='nivo-css' href='/bundles/app/css/nivo-slider.css' type='text/css' media='all'/>
        <link rel='stylesheet' id='animate-css' href='/bundles/app/css/animate.css' type='text/css' media='all'/>
        <link rel='stylesheet' id='slick-css' href='/bundles/app/css/slick.css' type='text/css' media='all'/>
        <link rel='stylesheet' id='owl-carousel-css' href='/bundles/app/css/owl.carousel.css' type='text/css'
              media='all'/>
        <link rel='stylesheet' id='owl-transitions-css' href='/bundles/app/css/owl.transitions.css' type='text/css'
              media='all'/>
        <link rel='stylesheet' id='fontawesome-css' href='/bundles/app/css/font-awesome.min.css' type='text/css'
              media='all'/>
        <link rel='stylesheet' id='meanmenu-css' href='/bundles/app/css/meanmenu.min.css' type='text/css' media='all'/>
        <link rel='stylesheet' id='lidership-theme-default-css' href='/bundles/app/css/theme-default.css'
              type='text/css'
              media='all'/>
        <link rel='stylesheet' id='lidership-widget-css' href='/bundles/app/css/widget.css' type='text/css'
              media='all'/>
        <link rel='stylesheet' id='lidership-unittest-css' href='/bundles/app/css/unittest.css' type='text/css'
              media='all'/>
        <link rel='stylesheet' id='lidership-style-css' href='/bundles/app/css/style.css' type='text/css' media='all'/>
        <link rel='stylesheet' id='lidership-responsive-css' href='/bundles/app/css/responsive.css' type='text/css'
              media='all'/>
        <link rel='stylesheet' id='lidership-breadcrumb-css' href='/bundles/app/css/em-breadcrumb.css' type='text/css'
              media='all'/>
        <style id='lidership-breadcrumb-inline-css' type='text/css'>

            .logo img {;;
            }

            .logo a {
                margin-top: 20px
            }

            .mean-container .mean-bar::before {
                content: "lidership"
            }

        </style>
        <link rel='stylesheet' id='raleway-css'
              href='//fonts.googleapis.com/css?family=Raleway%3A100%2C100italic%2C200%2C200italic%2C300%2C300italic%2Cregular%2Citalic%2C500%2C500italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%2C900%2C900italic&#038;subset=latin%2Clatin-ext&#038;ver=2.9.6'
              type='text/css' media='all'/>
        <link rel='stylesheet' id='kc-general-css'
              href='/bundles/app/plugins/kingcomposer/assets/frontend/css/kingcomposer.min.css'
              type='text/css' media='all'/>
        <link rel='stylesheet' id='kc-animate-css' href='/bundles/app/plugins/kingcomposer/assets/css/animate.css'
              type='text/css'
              media='all'/>
        <link rel='stylesheet' id='kc-icon-1-css' href='/bundles/app/plugins/kingcomposer/assets/css/icons.css'
              type='text/css'
              media='all'/>
    {% endblock %}
    {% block javascripts %}
        <script type='text/javascript' src='/bundles/app/includes/js/jquery/jquery.min.js' id='jquery-core-js'></script>
        <script type='text/javascript' src='/bundles/app/includes/js/jquery/jquery-migrate.min.js'
                id='jquery-migrate-js'></script>
        <script type='text/javascript' src='/bundles/app/plugins/give/assets/dist/js/babel-polyfill.js'
                id='babel-polyfill-js'></script>
        <script type='text/javascript' src='/bundles/app/plugins/give/assets/dist/js/give.js' id='give-js'></script>
    {% endblock %}
    <link rel="icon" href="/bundles/app/uploads/logobta.png" sizes="32x32"/>
    <link rel="icon" href="/bundles/app/uploads/logobta.png" sizes="192x192"/>
    <link rel="apple-touch-icon" href="/bundles/app/uploads/logobta.png"/>
    <meta name="msapplication-TileImage"
          content="/bundles/app/uploads/2021/09/cropped-logo-270x270.png"/>
    <link rel='stylesheet' id='kc-icon-1-css' href='/bundles/app/css/main.css' type='text/css' media='all'/>
</head>

<body class="home page-template page-template-template-home page-template-template-home-php page page-id-698 kingcomposer kc-css-system">


<!-- MAIN WRAPPER START -->
<div class="wrapper">


    <div class="em40_header_area_main">
        <!-- HEADER TOP AREA -->
        <div class="lidership-header-top">
            <div class="container">
                <!-- STYLE 1 RIGHT ICON  -->
                <div class="row">
                    <!-- TOP LEFT WELLCOME TEXT-->
                    <div class="col-xs-12 col-md-6 col-sm-6">
                        <div class="top-welcome">


                        </div>
                    </div>
                    <!-- TOP RIGHT -->
                    <div class="col-xs-12 col-md-6 col-sm-6">
                        <div class="top-right-menu">
                            {#<ul class="social-icons text-right">
                                <li><a class="facebook social-icon" href="#" title="Facebook"><i
                                                class="fa fa-facebook"></i></a></li>
                                <li><a class="twitter social-icon" href="#" title="Twitter"><i
                                                class="fa fa-twitter"></i></a></li>
                                <li><a class="instagram social-icon" href="#" title="Instagram"><i
                                                class="fa fa-instagram"></i></a></li>
                                <li><a class="pinterest social-icon" href="#" title="Pinterest"><i
                                                class="fa fa-pinterest"></i></a></li>
                                <li><a class="dribbble social-icon" href="#" title="Dribbble"><i
                                                class="fa fa-dribbble"></i></a></li>
                            </ul>#}
                        </div>
                    </div>
                </div>
                <!-- STYLE 1 LEFT ICON  -->
            </div>
        </div>
        <div class="em_creative_header">
            <div class="container">
                <div class="row">
                    <!-- CREATIVE HEADER LOGO -->
                    <div class="col-md-4 col-sm-12 col-xs-12">
                        <div class="creative_header_logo">
                            <div class="creative_logo_thumb">
                                <div class="logo">
                                    <a class="main_sticky_main_l" href=""
                                       title="Lidership">
                                        <img src="/bundles/app/uploads/logo.svg" alt="ԲՏԱ նախարարություն"/>
                                    </a>
                                    <a class="main_sticky_l" href="" title="Lidership">
                                        <img src="/bundles/app/uploads/logo-white.svg" alt="ԲՏԱ նախարարություն"/>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- CREATIVE HEADER ADDRESS -->
                    <div class="col-md-8 col-xs-12">
                        <div class="row">
                            <div class="creative_header_address">

                                <div class="col-lg-4  col-md-4 col-sm-4 col-xs-12">
                                    <div class="single_header_address ctrp">


                                    </div>
                                </div>

                                <div class="col-lg-4  col-md-4 col-sm-4 col-xs-12">
                                    <div class="single_header_address ctrp">


                                    </div>
                                </div>

                                <div class="col-lg-4  col-md-4 col-sm-4 col-xs-12">
                                    <div class="single_header_address ctrp">
                                        <div class="creative_header_icon">
                                            <i class="fa fa-search"></i>
                                        </div>
                                            <p>ընդլայնված որոնում</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="mobile_logo_area hidden-md hidden-lg">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="mobile_menu_logo text-center">
                            <a href="https://wp.dreamitsolution.net/lidership/" title="Lidership">
                                <img src="/bundles/app/uploads/2021/09/logo.png"
                                     alt="Lidership"/>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        {% include ("AppBundle:Main:menu.html.twig") %}
    </div>
    {% block content %}{% endblock %}

{% include ("AppBundle:Main:footer.html.twig") %}