<!-- HEADER DEFAULT MANU AREA -->
<div class="lidership-main-menu one_page hidden-xs hidden-sm no-logo">
    <div class="lidership_nav_area scroll_fixed">
        <div class="container">

            <div class="row no-logo-sr">
                <!-- MAIN MENU -->
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <nav class="lidership_menu creative_header_menu">
                        <ul id="menu-main-menu" class="sub-menu">
                            <li id="menu-item-1043"
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1043">
                                <a href="https://wp.dreamitsolution.net/lidership/about/">Գլխավոր</a></li>
                            <li id="menu-item-268"
                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-268">
                                <a href="#">Մեր մասին</a>
                                <ul class="sub-menu">
                                    <li id="menu-item-1064"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-1064">
                                        <a href="https://wp.dreamitsolution.net/lidership/about/">About Us</a>
                                        <ul class="sub-menu">
                                            <li id="menu-item-1154"
                                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1154">
                                                <a href="https://wp.dreamitsolution.net/lidership/about/">About
                                                    Us -01</a></li>
                                            <li id="menu-item-1155"
                                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1155">
                                                <a href="https://wp.dreamitsolution.net/lidership/about-2/">About
                                                    Us -02</a></li>
                                            <li id="menu-item-1156"
                                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1156">
                                                <a href="https://wp.dreamitsolution.net/lidership/about-03/">About
                                                    Us -03</a></li>
                                        </ul>
                                    </li>
                                    <li id="menu-item-1047"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-1047">
                                        <a href="https://wp.dreamitsolution.net/lidership/team/">Team</a>
                                        <ul class="sub-menu">
                                            <li id="menu-item-1162"
                                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1162">
                                                <a href="https://wp.dreamitsolution.net/lidership/team/">Team
                                                    Member -01</a></li>
                                            <li id="menu-item-1163"
                                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1163">
                                                <a href="https://wp.dreamitsolution.net/lidership/team-02/">Team
                                                    Member -02</a></li>
                                        </ul>
                                    </li>
                                    <li id="menu-item-1065"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-1065">
                                        <a href="https://wp.dreamitsolution.net/lidership/event/">Event</a>
                                        <ul class="sub-menu">
                                            <li id="menu-item-1157"
                                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1157">
                                                <a href="https://wp.dreamitsolution.net/lidership/event/">Our
                                                    Event -01</a></li>
                                            <li id="menu-item-1158"
                                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1158">
                                                <a href="https://wp.dreamitsolution.net/lidership/event-02/">Our
                                                    Event -02</a></li>
                                        </ul>
                                    </li>
                                    <li id="menu-item-1066"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-1066">
                                        <a href="https://wp.dreamitsolution.net/lidership/service/">Service</a>
                                        <ul class="sub-menu">
                                            <li id="menu-item-1159"
                                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1159">
                                                <a href="https://wp.dreamitsolution.net/lidership/service/">Our
                                                    Service -01</a></li>
                                            <li id="menu-item-1160"
                                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1160">
                                                <a href="https://wp.dreamitsolution.net/lidership/service-02/">Our
                                                    Service -02</a></li>
                                            <li id="menu-item-1161"
                                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1161">
                                                <a href="https://wp.dreamitsolution.net/lidership/service-03/">Our
                                                    Service -03</a></li>
                                        </ul>
                                    </li>
                                    <li id="menu-item-1174"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-1174">
                                        <a href="https://wp.dreamitsolution.net/lidership/gallery/">Gallery</a>
                                        <ul class="sub-menu">
                                            <li id="menu-item-1175"
                                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1175">
                                                <a href="https://wp.dreamitsolution.net/lidership/gallery/">Gallery-01</a>
                                            </li>
                                            <li id="menu-item-1173"
                                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1173">
                                                <a href="https://wp.dreamitsolution.net/lidership/gallery-02/">Gallery-02</a>
                                            </li>
                                            <li id="menu-item-1172"
                                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1172">
                                                <a href="https://wp.dreamitsolution.net/lidership/gallery-03/">Gallery-03</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li id="menu-item-386"
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-386">
                                <a href="https://wp.dreamitsolution.net/lidership/blog/">Նորություններ</a>
                                <ul class="sub-menu">
                                    <li id="menu-item-383"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-383">
                                        <a href="https://wp.dreamitsolution.net/lidership/blog/">Blog Grid</a>
                                    </li>
                                    <li id="menu-item-382"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-382">
                                        <a href="https://wp.dreamitsolution.net/lidership/blog-left-sidebar/">Blog
                                            Left Sidebar</a></li>
                                    <li id="menu-item-381"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-381">
                                        <a href="https://wp.dreamitsolution.net/lidership/blog-right-sidebar/">Blog
                                            Right Sidebar</a></li>
                                    <li id="menu-item-379"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-379">
                                        <a href="https://wp.dreamitsolution.net/lidership/blog-2-column-left-sidebar/">2
                                            Column Left Sidebar</a></li>
                                    <li id="menu-item-380"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-380">
                                        <a href="https://wp.dreamitsolution.net/lidership/blog-2-column-right-sidebar/">2
                                            Column Right Sidebar</a></li>
                                </ul>
                            </li>
                            <li id="menu-item-388"
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-386">
                                <a href="https://wp.dreamitsolution.net/lidership/blog/">Ծրագրեր</a>
                                <ul class="sub-menu">
                                    <li id="menu-item-383"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-383">
                                        <a href="https://wp.dreamitsolution.net/lidership/blog/">Blog Grid</a>
                                    </li>
                                    <li id="menu-item-382"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-382">
                                        <a href="https://wp.dreamitsolution.net/lidership/blog-left-sidebar/">Blog
                                            Left Sidebar</a></li>
                                    <li id="menu-item-381"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-381">
                                        <a href="https://wp.dreamitsolution.net/lidership/blog-right-sidebar/">Blog
                                            Right Sidebar</a></li>
                                    <li id="menu-item-379"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-379">
                                        <a href="https://wp.dreamitsolution.net/lidership/blog-2-column-left-sidebar/">2
                                            Column Left Sidebar</a></li>
                                    <li id="menu-item-380"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-380">
                                        <a href="https://wp.dreamitsolution.net/lidership/blog-2-column-right-sidebar/">2
                                            Column Right Sidebar</a></li>
                                </ul>
                            </li>
                            <li id="menu-item-1044"
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1044">
                                <a href="https://wp.dreamitsolution.net/lidership/contact/">Կիբերգրագիտություն</a></li>
                            <li id="menu-item-388"
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-386">
                                <a href="https://wp.dreamitsolution.net/lidership/blog/">Կապ</a>
                                <ul class="sub-menu">
                                    <li id="menu-item-383"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-383">
                                        <a href="https://wp.dreamitsolution.net/lidership/blog/">Blog Grid</a>
                                    </li>
                                    <li id="menu-item-382"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-382">
                                        <a href="https://wp.dreamitsolution.net/lidership/blog-left-sidebar/">Blog
                                            Left Sidebar</a></li>
                                    <li id="menu-item-381"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-381">
                                        <a href="https://wp.dreamitsolution.net/lidership/blog-right-sidebar/">Blog
                                            Right Sidebar</a></li>
                                    <li id="menu-item-379"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-379">
                                        <a href="https://wp.dreamitsolution.net/lidership/blog-2-column-left-sidebar/">2
                                            Column Left Sidebar</a></li>
                                    <li id="menu-item-380"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-380">
                                        <a href="https://wp.dreamitsolution.net/lidership/blog-2-column-right-sidebar/">2
                                            Column Right Sidebar</a></li>
                                </ul>
                            </li>
                        </ul>
                        <div class="donate-btn-header">
                            <a href="">Հայ</a>
                        </div>

                    </nav>
                </div>
                <!-- END MAIN MENU -->
            </div> <!-- END ROW -->

        </div> <!-- END CONTAINER -->
    </div>  <!-- END AREA -->
</div>
<!-- END HEADER MENU AREA -->

<!-- TRANSPARENT with sticky MANU with CONDITION  no logo  = 13 -->


<!-- MOBILE MENU AREA -->
<div class="home-2 mbm hidden-md hidden-lg header_area main-menu-area">
    <div class="menu_area mobile-menu">
        <nav>
            <ul id="menu-main-menu-1" class="main-menu clearfix">
                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-698 current_page_item current-menu-ancestor current-menu-parent current_page_parent current_page_ancestor menu-item-has-children menu-item-1124">
                    <a href="https://wp.dreamitsolution.net/lidership/" aria-current="page">Home</a>
                    <ul class="sub-menu">
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-698 current_page_item menu-item-1123">
                            <a href="https://wp.dreamitsolution.net/lidership/" aria-current="page">Home Version
                                &#8211; 01</a></li>
                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1510">
                            <a href="#">Latest Demos</a>
                            <ul class="sub-menu">
                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1513">
                                    <a href="https://wp.dreamitsolution.net/lidership/demo-new-01/">Demo New
                                        01</a></li>
                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1512">
                                    <a href="https://wp.dreamitsolution.net/lidership/demo-new-02/">Demo New
                                        02</a></li>
                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1517">
                                    <a href="https://wp.dreamitsolution.net/lidership/demo-new-03/">Demo New
                                        03</a></li>
                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1516">
                                    <a href="https://wp.dreamitsolution.net/lidership/demo-new-04/">Demo New
                                        04</a></li>
                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1515">
                                    <a href="https://wp.dreamitsolution.net/lidership/demo-new-05/">Demo New
                                        05</a></li>
                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1514">
                                    <a href="https://wp.dreamitsolution.net/lidership/demo-new-06/">Demo New
                                        06</a></li>
                            </ul>
                        </li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1023"><a
                                    href="https://wp.dreamitsolution.net/lidership/home-2/">Home Version &#8211;
                                02</a></li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1024"><a
                                    href="https://wp.dreamitsolution.net/lidership/home-3/">Home Version &#8211;
                                03</a></li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1092"><a
                                    href="https://wp.dreamitsolution.net/lidership/home-4/">Home Version &#8211;
                                04</a></li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1091"><a
                                    href="https://wp.dreamitsolution.net/lidership/home-5/">Home Version &#8211;
                                05</a></li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1115"><a
                                    href="https://wp.dreamitsolution.net/lidership/home-7/">Home Version &#8211;
                                06</a></li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1122"><a
                                    href="https://wp.dreamitsolution.net/lidership/home-8/">Home Version &#8211;
                                07</a></li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1106"><a
                                    href="https://wp.dreamitsolution.net/lidership/home-onepage/">Home OnePage
                                -01</a></li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1135"><a
                                    href="https://wp.dreamitsolution.net/lidership/home-9/">Home OnePage -02</a>
                        </li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1134"><a
                                    href="https://wp.dreamitsolution.net/lidership/home-10/">Home Effect Version</a>
                        </li>
                    </ul>
                </li>
                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1043"><a
                            href="https://wp.dreamitsolution.net/lidership/about/">About</a></li>
                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1046"><a
                            href="https://wp.dreamitsolution.net/lidership/service/">Service</a></li>
                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1045"><a
                            href="https://wp.dreamitsolution.net/lidership/event/">Event</a></li>
                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-268">
                    <a href="#">Page</a>
                    <ul class="sub-menu">
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-1064">
                            <a href="https://wp.dreamitsolution.net/lidership/about/">About Us</a>
                            <ul class="sub-menu">
                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1154">
                                    <a href="https://wp.dreamitsolution.net/lidership/about/">About Us -01</a>
                                </li>
                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1155">
                                    <a href="https://wp.dreamitsolution.net/lidership/about-2/">About Us -02</a>
                                </li>
                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1156">
                                    <a href="https://wp.dreamitsolution.net/lidership/about-03/">About Us
                                        -03</a></li>
                            </ul>
                        </li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-1047">
                            <a href="https://wp.dreamitsolution.net/lidership/team/">Team</a>
                            <ul class="sub-menu">
                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1162">
                                    <a href="https://wp.dreamitsolution.net/lidership/team/">Team Member -01</a>
                                </li>
                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1163">
                                    <a href="https://wp.dreamitsolution.net/lidership/team-02/">Team Member
                                        -02</a></li>
                            </ul>
                        </li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-1065">
                            <a href="https://wp.dreamitsolution.net/lidership/event/">Event</a>
                            <ul class="sub-menu">
                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1157">
                                    <a href="https://wp.dreamitsolution.net/lidership/event/">Our Event -01</a>
                                </li>
                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1158">
                                    <a href="https://wp.dreamitsolution.net/lidership/event-02/">Our Event
                                        -02</a></li>
                            </ul>
                        </li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-1066">
                            <a href="https://wp.dreamitsolution.net/lidership/service/">Service</a>
                            <ul class="sub-menu">
                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1159">
                                    <a href="https://wp.dreamitsolution.net/lidership/service/">Our Service
                                        -01</a></li>
                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1160">
                                    <a href="https://wp.dreamitsolution.net/lidership/service-02/">Our Service
                                        -02</a></li>
                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1161">
                                    <a href="https://wp.dreamitsolution.net/lidership/service-03/">Our Service
                                        -03</a></li>
                            </ul>
                        </li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-1174">
                            <a href="https://wp.dreamitsolution.net/lidership/gallery/">Gallery</a>
                            <ul class="sub-menu">
                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1175">
                                    <a href="https://wp.dreamitsolution.net/lidership/gallery/">Gallery-01</a>
                                </li>
                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1173">
                                    <a href="https://wp.dreamitsolution.net/lidership/gallery-02/">Gallery-02</a>
                                </li>
                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1172">
                                    <a href="https://wp.dreamitsolution.net/lidership/gallery-03/">Gallery-03</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-386">
                    <a href="https://wp.dreamitsolution.net/lidership/blog/">Blog</a>
                    <ul class="sub-menu">
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-383"><a
                                    href="https://wp.dreamitsolution.net/lidership/blog/">Blog Grid</a></li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-382"><a
                                    href="https://wp.dreamitsolution.net/lidership/blog-left-sidebar/">Blog Left
                                Sidebar</a></li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-381"><a
                                    href="https://wp.dreamitsolution.net/lidership/blog-right-sidebar/">Blog Right
                                Sidebar</a></li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-379"><a
                                    href="https://wp.dreamitsolution.net/lidership/blog-2-column-left-sidebar/">2
                                Column Left Sidebar</a></li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-380"><a
                                    href="https://wp.dreamitsolution.net/lidership/blog-2-column-right-sidebar/">2
                                Column Right Sidebar</a></li>
                    </ul>
                </li>
                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1044"><a
                            href="https://wp.dreamitsolution.net/lidership/contact/">Contact</a></li>
            </ul>
        </nav>
    </div>
</div>
<!-- END MOBILE MENU AREA  -->