{% block a2lix_translations_widget %}
    {% set translationLocal = "am" %}
    <div class="a2lix_translations tabbable">
        <ul class="a2lix_translationsLocales nav nav-tabs">
        {% for translationsFields in form %}
            {% set locale = translationsFields.vars.name %}

            <li {% if translationLocal == locale %}class="active"{% endif %}>
                <a href="javascript:void(0)" data-toggle="tab" data-target=".a2lix_translationsFields-{{ locale }}">
                   {{ locale|capitalize }}
                </a>
            </li>
        {% endfor %}
        </ul>

        <div class="a2lix_translationsFields tab-content">
        {% for translationsFields in form %}
            {% set locale = translationsFields.vars.name %}

            <div class="a2lix_translationsFields-{{ locale }} tab-pane {% if translationLocal == locale %}active{% endif %}">
                {{ form_widget(translationsFields) }}
            </div>
        {% endfor %}
        </div>
    </div>
{% endblock %}



{% block a2lix_translations_gedmo_widget %}
    {% set translationLocal = "am" %}

    {% if form.vars.simple_way %}
        {{ block('a2lix_translations_widget') }}
    {% else %}
        <div class="a2lix_translations tabbable">
            <ul class="a2lix_translationsLocales nav nav-tabs">
            {% for translationsLocales in form %}
                {% set isDefaultLocale = 'defaultLocale' == translationsLocales.vars.name %}

                {% for translationsFields in translationsLocales %}
                    {% set locale = translationsFields.vars.name %}

                    <li {% if translationLocal == locale %}class="active"{% endif %}>
                        <a href="javascript:void(0)" data-toggle="tab" data-target=".a2lix_translationsFields-{{ locale }}">
                            {{ locale|capitalize }} {% if isDefaultLocale %}[Default]{% endif %}
                        </a>
                    </li>
                {% endfor %}
            {% endfor %}
            </ul>

            <div class="a2lix_translationsFields tab-content">
            {% for translationsLocales in form %}
                {% for translationsFields in translationsLocales %}
                    {% set locale = translationsFields.vars.name %}

                    <div class="a2lix_translationsFields-{{ locale }} tab-pane {% if translationLocal == locale %}active{% endif %}">
                        {{ form_widget(translationsFields) }}
                    </div>
                {% endfor %}
            {% endfor %}
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block a2lix_translationsForms_widget %}
    {{ block('a2lix_translations_widget') }}
{% endblock %}
