{% extends 'SonataAdminBundle::standard_layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    <link href="/bower/jquery-ui/themes/base/jquery-ui.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/bundles/yerevanmain/css/admin.css" rel="stylesheet" type="text/css"/>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script> orderUrl = "/admin/yerevan/main/news/news_order"; </script>
    <script src="{{ asset('bundles/yerevanmain/js/order.js') }}" type="text/javascript"></script>
{% endblock %}

{% block show %}

    <ul id="sortable">
        {% if array is defined %}
            {% for item in array %}
                <li id="id_{{ item.id }}" class="ui-state-default"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>{{ item.newsOrder }}: {{ item.name }}</li>
            {% endfor %}
        {% endif %}
    </ul>
    <button onclick="window.location.href='list';">Done</button>
{% endblock %}


