{% extends 'AppBundle:Main:layout.html.twig' %}

{% use 'SonataAdminBundle:CRUD:base_edit_form.html.twig' with form as parentForm %}

{% block content %}
    {% set news = object %}
    <div class="wrapper clearfix">
        <aside class="col-md-3 col-sm-6 col-xs-6">
            <button type="button" id="showMenu"> >> </button>
            <span></span>
            <nav class="left-part for-open-news">
                <ul class="breadcrumb">
                    <li>
                        <a href="{{ path('yerevan_news') }}">{{ 'modules.news'|trans }}</a>
                    </li>
                </ul>
                {% if news.videoStatus == '1' %}
                    <h3 href="{{ news.videourl }}">
                        <span class="glyphicon glyphicon-film"></span>{{ 'modules.video'|trans }}
                    </h3>
                    <div class="video-place">
                        <a class="video-popup" type="button" href="{{ news.videourl }}" data-toggle="modal"></a>
                        <a  class="video-popup" type="button" href="{{ news.videourl }}" data-toggle="modal">
                            <img src="{% path news.image, 'list' %}" alt="{{ news.title }}"/>
                        </a>
                    </div>
                    <div id="element-to-pop-up">
                        <a class="b-close">x</a>
                        <div>
                            <div id="player">
                                <p>Alternative content</p>
                                <p>
                                    <a href="https://www.adobe.com/go/getflashplayer">
                                        <img src="https://www.adobe.com/images/shared/download_buttons/get_flash_player.gif" alt="Get Adobe Flash player" />
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                {% endif %}
                <div class="new-archive">
                    <h2>{{ 'formtexts.archive'|trans }}</h2>
                    <form class="bs-docs-example" action="{{ path('yerevan_news_params') }}" method="post">
                        <label>{{ 'formtexts.month'|trans }}</label>
                        <select class="month" id="month" name="month">
                            <option value="01">{{ 'months.january'|trans }}</option>
                            <option value="02">{{ 'months.february'|trans }}</option>
                            <option value="03">{{ 'months.march'|trans }}</option>
                            <option value="04">{{ 'months.april'|trans }}</option>
                            <option value="05">{{ 'months.may'|trans }}</option>
                            <option value="06">{{ 'months.june'|trans }}</option>
                            <option value="07">{{ 'months.july'|trans }}</option>
                            <option value="08">{{ 'months.august'|trans }}</option>
                            <option value="09">{{ 'months.september'|trans }}</option>
                            <option value="10">{{ 'months.october'|trans }}</option>
                            <option value="11">{{ 'months.november'|trans }}</option>
                            <option value="12">{{ 'months.december'|trans }}</option>
                        </select>
                        <label>{{ 'formtexts.year'|trans }}</label>
                        <select class="year" id="year" name="year">
                            <option value="2005">{{ 'years.2005'|trans }}</option>
                            <option value="2006">{{ 'years.2006'|trans }}</option>
                            <option value="2007">{{ 'years.2007'|trans }}</option>
                            <option value="2008">{{ 'years.2008'|trans }}</option>
                            <option value="2009">{{ 'years.2009'|trans }}</option>
                            <option value="2010">{{ 'years.2010'|trans }}</option>
                            <option value="2011">{{ 'years.2011'|trans }}</option>
                            <option value="2012">{{ 'years.2012'|trans }}</option>
                            <option value="2013">{{ 'years.2013'|trans }}</option>
                            <option value="2014">{{ 'years.2014'|trans }}</option>
                        </select>
                        <button type="submit">{{ 'formtexts.view'|trans }}</button>
                    </form>
                </div>
                <div class="last-news">

                </div>
            </nav>
        </aside>
        <section class="content col-md-9 col-sm-12 col-xs-12">
            <div class="open-news">
                <h1>{{ news.title|raw }}</h1>
                <span>{{ news.startDate|date('d.m.Y') }}</span>
                {% if news.content is empty %}
                    {% if app.request.attributes.get('_locale') == 'ru' %}
                        <p>{{ 'news.emptynews'|trans }}</p>
                    {% else %}
                        <p>{{ 'news.emptynews'|trans }}</p>
                    {% endif %}
                {% else %}
                    <p>{{ news.content|raw }}</p>
                {% endif %}
            </div>
            {% if news.gallery is not null %}
                <div class="photo-slider clearfix">
                    <span>{{ 'modules.photo'|trans }}</span>
                    <ul id="links">
                        {% for i,galleryHasMedia in news.gallery.galleryHasMedias %}
                            <li>
                                <a href="{% path galleryHasMedia.media, 'reference' %}" title="{{ news.title }}" data-lightbox="news">
                                    {% thumbnail galleryHasMedia.media, 'list' with{'title': news.title, 'alt': news.title,} %}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div id="element-to-pop-up">
                    <a class="b-close">x</a>
                    <div>
                        <div id="player">
                            <p>Alternative content</p>
                            <p>
                                <a href="https://www.adobe.com/go/getflashplayer">
                                    <img src="https://www.adobe.com/images/shared/download_buttons/get_flash_player.gif" alt="Get Adobe Flash player" />
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            {% endif %}
        </section>
        <div class="sharing">
            <div class="addthis_toolbox addthis_default_style addthis_16x16_style">
                <a class="addthis_button_facebook"></a>
                <a class="addthis_button_twitter"></a>
                <a class="addthis_button_google_plusone_share"></a>
                <a class="addthis_button_compact"></a>
            </div>
            <script type="text/javascript">var addthis_config = {"data_track_addressbar": false};</script>
            <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-52a8542242ee7369"></script>
        </div>
    </div>
{% endblock %}
