body, p {
    font-display: swap;
}

h1, h2, h3, h4, h5, h6 {
    font-display: swap;
}

h1 {
    font-display: swap;
}

h2 {
    font-display: swap;
}

h3 {
    font-display: swap;
}

h4 {
    font-display: swap;
}

h5 {
    font-display: swap;
}

h6 {
    font-display: swap;
}

.lidership_menu > ul > li > a,
.heading_style_2 .lidership_menu > ul > li > a,
.heading_style_3 .lidership_menu > ul > li > a,
.heading_style_4 .lidership_menu > ul > li > a,
.heading_style_5 .lidership_menu > ul > li > a,
.no-logo-sr .lidership_menu > ul > li > a {
    font-display: swap;
}

.lidership_menu ul .sub-menu li a {
    font-display: swap;
}

.breadcumb-area, .breadcumb-blog-area {
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-image: url('/bundles/app/uploads/2019/01/brd.jpg');
    background-size: cover;
}

.brpt h2, .breadcumb-inner h2 {
    color: #ffffff;
}

.breadcumb-inner ul,
.breadcumb-inner li,
.breadcumb-inner li a {
    color: #ffffff;
    font-display: swap;
}

.single-video::before {
    background-color: rgba(0, 0, 0, 0.3);
}
.kc-off-notice {
    display: inline-block !important;
}

.kc-container {
    max-width: 1170px;
}
@media only screen and (min-width: 1000px) and (max-width: 5000px) {
    body.kc-css-system .kc-css-913183 {
        width: 100%;
    }

    body.kc-css-system .kc-css-273059 {
        width: 100%;
    }

    body.kc-css-system .kc-css-782878 {
        width: 100%;
    }

    body.kc-css-system .kc-css-347516 {
        width: 100%;
    }

    body.kc-css-system .kc-css-708939 {
        width: 33.33%;
    }

    body.kc-css-system .kc-css-183105 {
        width: 33.33%;
    }

    body.kc-css-system .kc-css-993474 {
        width: 33.33%;
    }

    body.kc-css-system .kc-css-575078 {
        width: 100%;
    }

    body.kc-css-system .kc-css-931224 {
        width: 100%;
    }

    body.kc-css-system .kc-css-50116 {
        width: 100%;
    }

    body.kc-css-system .kc-css-94602 {
        width: 100%;
    }

    body.kc-css-system .kc-css-347221 {
        width: 50%;
    }

    body.kc-css-system .kc-css-482920 {
        width: 50%;
    }

    body.kc-css-system .kc-css-454199 {
        width: 50%;
    }

    body.kc-css-system .kc-css-194042 {
        width: 50%;
    }

    body.kc-css-system .kc-css-719507 {
        width: 100%;
    }

    body.kc-css-system .kc-css-26536 {
        width: 100%;
    }

    body.kc-css-system .kc-css-322546 {
        width: 100%;
    }

    body.kc-css-system .kc-css-897698 {
        width: 100%;
    }

    body.kc-css-system .kc-css-876756 {
        width: 25%;
    }

    body.kc-css-system .kc-css-453438 {
        width: 25%;
    }

    body.kc-css-system .kc-css-225584 {
        width: 25%;
    }

    body.kc-css-system .kc-css-115659 {
        width: 25%;
    }

    body.kc-css-system .kc-css-393910 {
        width: 100%;
    }

    body.kc-css-system .kc-css-380514 {
        width: 100%;
    }

    body.kc-css-system .kc-css-148900 {
        width: 100%;
    }

    body.kc-css-system .kc-css-331662 {
        width: 100%;
    }
}

.kc-css-202054 .kc_column {
    padding-left: 0px;
    padding-right: 0px;
}

.kc-css-202054 > .kc-wrap-columns {
    margin-left: -0px;
    margin-right: -0px;
    width: calc(100% + 0px);
}

body.kc-css-system .kc-css-909578 .em_about_us_title h2 span {
    color: #eb1b2b;
}

body.kc-css-system .kc-css-35489 {
    background: #f9f9f9;
}

body.kc-css-system .kc-css-378449 .section-title h2, body.kc-css-system .kc-css-378449 .title_tx h2 {
    text-transform: none;
}

body.kc-css-system .kc-css-378449 .section-title h5, body.kc-css-system .kc-css-378449 .title_tx h5 {
    color: #0d2ec7;
}

body.kc-css-system .kc-css-378449 .section-title h2 span, body.kc-css-system .kc-css-378449 .title_tx h2 span, body.kc-css-system .kc-css-378449 .em-icon i {
    color: #fba500;
}

body.kc-css-system .kc-css-378449 .em-bar, body.kc-css-system .kc-css-378449 .title_in::before, body.kc-css-system .kc-css-378449 .title_in::after {
    background-color: #fba500;
}

body.kc-css-system .kc-css-81236 {
    background: #f9f9f9;
}

body.kc-css-system .kc-css-932785 {
    margin-bottom: 30px;
}

body.kc-css-system .kc-css-475870 {
    margin-bottom: 30px;
}

body.kc-css-system .kc-css-552363 {
    margin-bottom: 30px;
}

body.kc-css-system .kc-css-946423 {
    background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), #f9f9f9 url(/bundles/app/uploads/2018/12/countdown-bg.jpg) center center/cover no-repeat fixed;
}

body.kc-css-system .kc-css-291722 .section-title h2, body.kc-css-system .kc-css-291722 .title_tx h2 {
    color: #ffffff;
    text-transform: none;
}

body.kc-css-system .kc-css-291722 .section-title h5, body.kc-css-system .kc-css-291722 .title_tx h5 {
    color: #ffffff;
}

body.kc-css-system .kc-css-291722 .section-title h2 span, body.kc-css-system .kc-css-291722 .title_tx h2 span, body.kc-css-system .kc-css-291722 .em-icon i {
    color: #fba500;
}

body.kc-css-system .kc-css-291722 .em-bar, body.kc-css-system .kc-css-291722 .title_in::before, body.kc-css-system .kc-css-291722 .title_in::after {
    background-color: #fba500;
}

body.kc-css-system .kc-css-291722 .section-title p, body.kc-css-system .kc-css-291722 .title_ptx p {
    color: #ffffff;
}

body.kc-css-system .kc-css-442586 {
    background: #f9f9f9;
}

body.kc-css-system .kc-css-442990 .section-title h2, body.kc-css-system .kc-css-442990 .title_tx h2 {
    text-transform: none;
}

body.kc-css-system .kc-css-442990 .section-title h5, body.kc-css-system .kc-css-442990 .title_tx h5 {
    color: #0d2ec7;
}

body.kc-css-system .kc-css-442990 .section-title h2 span, body.kc-css-system .kc-css-442990 .title_tx h2 span, body.kc-css-system .kc-css-442990 .em-icon i {
    color: #fba500;
}

body.kc-css-system .kc-css-442990 .em-bar, body.kc-css-system .kc-css-442990 .title_in::before, body.kc-css-system .kc-css-442990 .title_in::after {
    background-color: #fba500;
}

body.kc-css-system .kc-css-416274 {
    background: #f9f9f9;
}

body.kc-css-system .kc-css-6426 .section-title h2, body.kc-css-system .kc-css-6426 .title_tx h2 {
    text-transform: none;
}

body.kc-css-system .kc-css-6426 .section-title h5, body.kc-css-system .kc-css-6426 .title_tx h5 {
    color: #0d2ec7;
}

body.kc-css-system .kc-css-6426 .section-title h2 span, body.kc-css-system .kc-css-6426 .title_tx h2 span, body.kc-css-system .kc-css-6426 .em-icon i {
    color: #fba500;
}

body.kc-css-system .kc-css-6426 .em-bar, body.kc-css-system .kc-css-6426 .title_in::before, body.kc-css-system .kc-css-6426 .title_in::after {
    background-color: #fba500;
}

.kc-css-90225 .kc_column {
    padding-left: 0px;
    padding-right: 0px;
}

.kc-css-90225 > .kc-wrap-columns {
    margin-left: -0px;
    margin-right: -0px;
    width: calc(100% + 0px);
}

body.kc-css-system .kc-css-454199 {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

body.kc-css-system .kc-css-194042 {
    background: #eb1b2b;
    padding-top: 97px;
    padding-right: 0px;
    padding-left: 85px;
}

body.kc-css-system .kc-css-415135 .section-title h2, body.kc-css-system .kc-css-415135 .title_tx h2 {
    text-transform: none;
}

body.kc-css-system .kc-css-415135 .section-title h5, body.kc-css-system .kc-css-415135 .title_tx h5 {
    color: #0d2ec7;
}

body.kc-css-system .kc-css-415135 .section-title h2 span, body.kc-css-system .kc-css-415135 .title_tx h2 span, body.kc-css-system .kc-css-415135 .em-icon i {
    color: #fba500;
}

body.kc-css-system .kc-css-415135 .em-bar, body.kc-css-system .kc-css-415135 .title_in::before, body.kc-css-system .kc-css-415135 .title_in::after {
    background-color: #fba500;
}

body.kc-css-system .kc-css-44954 {
    text-align: center;
}

body.kc-css-system .kc-css-651279 {
    padding-top: 100px;
    padding-bottom: 100px;
}

body.kc-css-system .kc-css-905186 {
    background: rgba(235, 27, 43, 0.66);
    padding-right: 35px;
    padding-bottom: 36px;
    padding-left: 35px;
}

body.kc-css-system .kc-css-322546 {
    padding-top: 70px;
}

body.kc-css-system .kc-css-498407 .section-title h2, body.kc-css-system .kc-css-498407 .title_tx h2 {
    text-transform: none;
}

body.kc-css-system .kc-css-498407 .section-title h5, body.kc-css-system .kc-css-498407 .title_tx h5 {
    color: #0d2ec7;
}

body.kc-css-system .kc-css-498407 .section-title h2 span, body.kc-css-system .kc-css-498407 .title_tx h2 span, body.kc-css-system .kc-css-498407 .em-icon i {
    color: #fba500;
}

body.kc-css-system .kc-css-498407 .em-bar, body.kc-css-system .kc-css-498407 .title_in::before, body.kc-css-system .kc-css-498407 .title_in::after {
    background-color: #fba500;
}

body.kc-css-system .kc-css-585814 {
    margin-bottom: 30px;
}

body.kc-css-system .kc-css-561662 {
    margin-bottom: 30px;
}

body.kc-css-system .kc-css-420649 {
    margin-bottom: 30px;
}

body.kc-css-system .kc-css-227289 {
    margin-bottom: 30px;
}

body.kc-css-system .kc-css-337973 {
    padding-top: 130px;
    padding-bottom: 150px;
}

body.kc-css-system .kc-css-873574 .section-title h2, body.kc-css-system .kc-css-873574 .title_tx h2 {
    text-transform: none;
}

body.kc-css-system .kc-css-873574 .section-title h5, body.kc-css-system .kc-css-873574 .title_tx h5 {
    color: #0d2ec7;
}

body.kc-css-system .kc-css-873574 .section-title h2 span, body.kc-css-system .kc-css-873574 .title_tx h2 span, body.kc-css-system .kc-css-873574 .em-icon i {
    color: #fba500;
}

body.kc-css-system .kc-css-873574 .em-bar, body.kc-css-system .kc-css-873574 .title_in::before, body.kc-css-system .kc-css-873574 .title_in::after {
    background-color: #fba500;
}

@media only screen and (max-width: 1024px) {
    body.kc-css-system .kc-css-194042 {
        padding-top: 0px;
    }
}

@media only screen and (max-width: 999px) {
    body.kc-css-system .kc-css-322546 {
        padding-top: 0px;
    }
}