@media (min-width: 1280px) and (max-width: 1600px) {

.message_full .kc_single_image{
	margin-top:107px !important;
}	
.message_full .kc_progress_bars{
	margin-bottom:32px !important;
}	

	
}
@media (min-width: 1280px) and (max-width: 1439px) {
     .em-nivo-slider-wrapper .nivo-directionNav {
         display: none;
    }
}
/* ------------------------------------------------- Laptop Screen ---------------------------------------------------*/
 @media (min-width: 1170px) and (max-width: 1366px) {
     .banner-content p {
         width: 70%;
    }
     .em_creative_header::after {
         transform: rotate(-114deg);
    }
     .creative_header_address {
         padding-left: 0;
    }
     .counter-video {
         padding-top: 126px;
    }
     .single-video h3 {
         font-size: 30px;
    }
	.banner-slick.banner-content.banner-content p {
		width: 62%;
	}
	.creative_header_address_text > p {
		font-size: 12px;
	}
	.em-slider-descript {
		width: 68%;
	}
	.testimonial .kc_col-sm-6{
		width:100% !important;
	}
	.testimonial .em_single_testimonial {
		padding-bottom: 20px;
	}
	.effective-content p {
		width: 60%;
	}
	.lidership_menu > ul > li > a {
		margin: 38px 6px 38px;
	}
	.event-description span.cdowns {
		width: 125px;
		height: 138px;
		margin: 0 5px;
	}
	  .em-quearys-top.msin-menu-search .em-quearys-menu i {
    	margin-left: 0;
    }
    a.dtbtn {
    	margin-left: 11px;
    	padding: 7px 18px;
    	font-size:12px;

    }
    .em-slick-slider-new .banner-content {
    	left: 10%;
    	top: 43%;
    }
	
}
/* ------------------------------------------------- Old Desktop :992 ---------------------------------------------------*/
 @media (min-width: 992px) and (max-width: 1169px) {

	.em-slider-descript {
		width: 55%;
		font-size: 14px;
	}
	.single_slide_img img {
		width: 420px;
	}
     .menu-height-space {
         height: 0;
    }
     .em_creative_header::after {
         transform: rotate(-100deg);
    }
	.lidership_menu > ul > li > a {
		margin: 38px 6px 38px;
	}
    /* em countdown */
     .countdown-style2 span.group::before, .countdown-style2 span.group::after {
         display: none;
    }
     .em-content-title h2 {
         font-size: 17px;
    }
     .em-content-subtitle {
         font-size: 13px;
    }
     .em-nivo-slider-wrapper:hover .nivo-directionNav a {
         left: 5px;
    }
     .em-nivo-slider-wrapper:hover .nivo-directionNav .nivo-nextNav {
         left: auto;
         right: 5px;
    }
     .em-nivo-slider-wrapper .nivo-directionNav {
         display: none;
    }
     .curosel-style .owl-nav div {
         left: 15px;
    }
     .curosel-style .owl-nav .owl-next {
         left: auto;
         right: 15px;
    }
	.banner-content p {
		width: 58%;
	}	
	.recent-post-text > h4 {
		margin-top: 14px;
	}	
	
	.call_do_action .kc_title {
		font-size: 18px !important;
	}
	.call_do_action .kc-button-main a {
		padding: 5px 15px 5px 15px !important;
		font-family: Raleway;
		font-size:14px !important;
	}
	.em-team-content-title h2 {
		font-size: 25px;
	}
	
	.banner-content p {
		width: 96%;
	}
	.style-two .em-team-content-waraper {
		height: 26%;
	}
	.style-two.em-team:hover .em-team-content-waraper {
		background: rgba(255,255,255,0.9);
		opacity: 1;
		height: 48%;
	}	
	.banner-slick.banner-content.banner-content p {
		width: 55%;
	}
	.kc_tabs_nav > li > a, .nav-pills > li > a {
		margin: 0px 0;
	}
	.em-blog-content-area_adn {
		padding: 26px 13px 34px;
	}
	.blog-page-title_adn a {
		font-size: 18px;
	}
	.style_three .em_content_text h2 {
		font-size: 16px;
	}
	.em-service.style_4 .em-service-title h2 {
		font-size: 16px;
	}
	.home-2.seo-score .form-area {
		padding: 0 0px 0 103px;
	}				
	.kc_tabs_nav > li > a, .nav-pills > li > a {
		padding: 0 17px 30px !important;
	}
	.tab_pan_content ul li {
		margin-bottom: 7px;
		font-size: 13px;
	}	
	.em_post_tab_thumb {
		box-shadow: none;
	}
	.tab_pan_content {
		box-shadow: none;
		padding: 0;
	}
	.slider_single_img {
		position: absolute;
		bottom: -78px;
		right: -222px;
	}
	.slider_single_img img {
		width: 65%;
	}
	.em-slick-slider-new .banner-content {
		left: 4%;
	}
	.em_about_us_content {
		padding: 0px 0 0 16px;
	}
	.kc_tabs_nav > li, .nav-pills > li {
		margin-right: 6px;
	}
	.event_date_list {
		width: 85px;
		height: 85px;
		margin-right: 10px;
	}
	.testimonial .kc_col-sm-6{
		width:100% !important;
	}
	.testimonial .em_single_testimonial {
		padding-bottom: 20px;
	}
	.em-call-to-action2 .em-call-to-action-desc {
		width: 68%;
	}
	a.dtbtn {
		font-size: 11px;
		padding: 6px 16px;
	}
	.effective-content p {
		width: 71%;
	}
	.event-description span.cdowns {
		width: 125px;
		height: 138px;
		margin: 0 5px;
	}
	.lidership-blog-meta-left_adn a, .lidership-blog-meta-left_adn span {
    	font-size: 12px;
    }
    .em-quearys-top.msin-menu-search .em-quearys-menu i {
    	margin-left: 10px;
    }
	#give-donation-level-button-wrap > li {
		margin: 0 10px 5px 0 !important;
	}
		
}
/* ------------------------------------------------- Large Screen. ---------------------------------------------------*/
 @media (min-width: 992px) and (max-width: 1920px) {
     .comment_field .input-field{
         margin-left: 1%;
         width: 32.33%;
         float: left;
    }
     .comment_field .input-field:first-child{
         margin-left: 0%;
         margin-right: 1.5%;
    }
     .comment_field .input-field:nth-child(2){
         margin-left: 0%;
    }
     .comment_field .input-field:last-child{
         margin-left: 1.5%;
    }
	.em-team-content-waraper {
		top: -192px;
	}
	.counter_title h4 {
		font-size: 20px;
	}
}
/* ------------------------------------------------- Tablet Screen : 768 ---------------------------------------------------*/
 @media (min-width: 840px) and (max-width: 850px) {
	.em_slider_inner {
		/* padding-left: 25px; */
		left: 0;
	}
}
 @media (min-width: 768px) and (max-width: 991px) {
	.em-slider-sub-title {
		font-size: 30px;
	}
	.em-slider-descript {
		width: 59%;
		font-size: 14px;
		margin-bottom: 20px;
	}
	.single_slide_img img {
		width: 420px;
	}
	.single_slide_img {
		left: 58%;
		top: -59px;
	}
     .em-button-button-area a {
         margin-top: 20px;
    }
     .footer-top-inner p {
         width: 78%;
    }
     .kc_video_play.kc_video_wrapper {
         overflow: scroll;
    }
    /* kc */
     .kc_col-sm-4, .kc_col-sm-3 {
         width: 50% !important;
    }
     .em-team-content-image > img {
         width: 100%;
    }
     .form-address-text > p {
         font-size: 14px;
    }
     .menu-height-space {
         height: 0;
    }
     .banner-content p {
         width: 85%;
    }
     .about_areas .kc_col-sm-6 {
         width: 100%;
    }
     .em_team_content_inner::before {
         top: -21px;
    }
     .em_team_content_inner {
         padding: 0 20px 30px;
    }
     .curosel-style .owl-nav div {
         left: 15px;
    }
     .curosel-style .owl-nav .owl-next {
         left: auto;
         right: 15px;
    }
    /* Em-Creative Header */
	.mobile_menu_logo.text-center {
		padding: 0px 0 29px;
	}
	.creative_header_address {
		display: none;
	}
     .creative_header_curve {
         display: none;
    }
     .creative_header_logo {
         padding-right: 0;
         text-align: center;
    }
     .em_creative_header {
         background: transparent none repeat scroll 0 0;
         z-index: 999;
    }
     .single_header_address {
         padding: 27px 0 20px;
    }
     .creative_header_button {
         background: #f9f9f9 none repeat scroll 0 0;
         padding: 30px 0;
         position: relative;
         text-align: center;
    }
     .single-video h3 {
         font-size: 35px;
    }
     .em-call-to-action-desc {
         width: 75%;
    }
.portfolio_nav ul li {
	padding: 6px 13px;
}
     .creative_header_logo {
         display: none;
    }
	.banner-content h2,
	.banner-content h1 {
		font-size: 30px;
	}

     .creative_header_button::before, .em_creative_header::before, .em_creative_header::after {
         display: none;
    }
     .single_header_address.ctrp {
         padding-bottom: 50px;
    }
     .em_creative_header {
         padding-bottom: 0;
    }
     .portfolio_nav ul li {
         margin: 0 3px 10px;
    }
     .mean-container .mean-bar::before {
         top: 15px;
    }
    /* em countdown */
     .countdown-style2 span.group::before, .countdown-style2 span.group::after {
         display: none;
    }
     .title_in_area {
         width: 100%;
    }
     .em-call-to-video h3 {
         margin-top: 10px;
         font-size: 18px;
    }
     .em-nivo-slider-wrapper:hover .nivo-directionNav a {
         left: 5px;
    }
     .em-nivo-slider-wrapper:hover .nivo-directionNav .nivo-nextNav {
         left: auto;
         right: 5px;
    }
     .section-title.t_center {
         width: 67%;
    }
     .footer-middle {
         padding: 75px 0 80px;
    }
     .comment_field .input-field {
         width: 100%;
    }
	
	.team-style-3 .em-content-image-inner {
	  float: none;
	  margin-right: 0;
	}	
		
	.team-style-3 .em-content-waraper {
		text-align: center;
	}
	.team-style-3 .em-content-waraper::before {
	  top: 97px;
	  width: 100%;
	}		
	.em-content-image > img {
	  width: 100%;
	}
		
	.reponsive_full	.cfull.kc_col-sm-6{
		width:100% !important;
	}	
			
	.reponsive_full	.cfull .slick-slide img{
		width:100% !important;
	}	
	.message_full .kc_col-sm-6{
		width:100% !important;
	}		
	.active.single_pricing{
		padding: 0px 0;
	}
	.recent-post-text > h4 {
		margin-top: 14px;
	}

	.call_do_action .kc_title {
		font-size: 17px !important;
		padding-top: 24px !important;
	}
	.call_do_action .kc-button-main a {
		padding: 5px 11px 5px 11px !important;
		font-family: Raleway;
		font-size: 12px !important;
	}
	.feature-btn {
		margin-top: 30px;
	}
	.style_two .em_content_text h2 {
		font-size: 19px;
		margin-bottom: 15px;
	}
	.em-team-content-title h2 {
		font-size: 25px;
	}	
	.section-title.t_center {
		width: 89%;
	}
	.style-two .em-team-content-waraper {
		height: 26%;
	}
	.style-two.em-team:hover .em-team-content-waraper {
		background: rgba(255,255,255,0.9);
		opacity: 1;
		height: 29%;
	}	
	.style-two .em-team-content-socials-inner {
		padding-top: 0;
	}
	.style-two.em-team:hover .em-team-content-socials {
		padding-top: 10px;
	}
	.banner-slick.banner-content.banner-content p {
		width: 74%;
	}
	.contact-form .kc_col-sm-8 {
		width: 50% !important;
	}
	.contact-default .kc_col-sm-8 {
	  width: 50%;
	}
	.top-address.em-login.text-right {
		display: none;
	}	
	.em_slider_inner {
		left: 0;
	}
	
	.kc_tabs_nav > li > a, .nav-pills > li > a {
		margin: 0px 12px;
		padding: 0 0px 16px !important;
		font-size: 15px !important;
	}
		.em-blog-content-area_adn {
		padding: 26px 13px 34px;
	}
		.blog-page-title_adn a {
			font-size: 18px;
		}
	.home-2.seo-score .form-area {
		padding: 0 0px 0 39px;
	}
	.home-2.seo-score .field.topfield .form-field.button-field input {
		width: 84%;
	}	
		.tab_pan_content h2 {
		padding-bottom: 17px;
		font-size: 20px;
		font-weight: 600;
		margin-top: 25px;
		/* padding: 0; */
	}
	.em_post_tab_thumb {
		box-shadow: none;
	}
	.tab_pan_content {
		box-shadow: none;
		padding: 0;
	}
	.slider_single_img {
		display: none;
	}
	.em-slick-slider-new .banner-content {
		left: 4%;
	}
	.banner-slick.banner-content h2 {
		font-size: 42px;
		width: 80%;
	}
	.em-team-content-waraper {
		top: -192px;
	}
	.single-video-content p {
		width: 83%;
	}
	.em_about_us_thumb img {
		width: 100%;
	}
	.signature_thumb img {
		width: inherit;
	}
	.em_about_us_title h2 {
		font-size: 42px;
	}
	.em-nivo-slider-wrapper .nivo-controlNav {
		display: none;
	}
	span.cdowns {
		width: 130px;
		height: 130px;
		margin: 0 25px;
	}
	span.time-counts {
		line-height: 95px;
		font-size: 50px;
		color: #fff;
	}
	span.cdowns::before {
		top: 46px;
	}
	span.cdowns::after {
		top: 78px;
	}
	.kc_tabs_nav > li, .nav-pills > li {
		margin-bottom: 30px;
	}
	.event_date_list {
		display: none;
	}
	.em-pevent .em-event-content-area_adn {
		padding-left: 0px;
	}
	.testimonial .kc_col-sm-6{
		width:100% !important;
	}
	.testimonial .em_single_testimonial {
		padding-bottom: 20px;
	}
	.em-content-image-inner img {
		width: 100%;
	}
	.em-call-to-action2 .em-call-to-action-desc {
		width: 74%;
	}
	.lidership-event-thumb_adn img {
		width: 100%;
	}
	.effective-content p {
		width: 89%;
	}
	.event-description span.cdowns {
		width: 153px;
		height: 138px;
		margin: 8px 8px;
		border-radius: 13px;
	}
		
					
}
/* ------------------------------------------------- Small Mobile : 320 ---------------------------------------------------*/
 @media (max-width: 767px) {
	.em-slider-sub-title {
		font-size: 24px;
		margin-top: 13px;
		width: 100%;
	}
     .em-slider-descript {
         display: none;
    }
     .em-slider-button {
         display: none;
    }
     .section-title.t_center {
         width: 100%;
    }
     .section-title.t_left {
         width: 100%;
    }
     .section-title.t_right {
         width: 100%;
    }

	.em-nivo-slider-wrapper .nivo-controlNav {
		bottom: 8px;
		display: none;
	}
	
    /* top bar */
     .top-address {
         text-align: center;
    }
     .social-icons.text-right {
         text-align: center;
    }
    /* footer bar */
     .footer-top-inner p {
         width: 100%;
    }
     .footer-menu ul {
         margin: 10px 0 0;
         text-align: center;
    }
     .footer-menu ul li a {
         font-size: 14px;
    }
     .copy-right-text p {
         text-align: center;
    }
     .breadcumb-blog-area {
         padding: 30px 0 50px;
    }
    /* blog css */
	.em-blog-content-area {
	  padding: 5px 15px 7px;

	}
     .lidership-blog-meta-left a, .lidership-blog-meta-left span {
         font-size: 11px;
         margin-right: 3px;
    }
     .lidership-blog-meta-right a, .lidership-blog-meta-right span {
         font-size: 11px;
         margin-left: 3px;
    }
    /* single blog */
     .post_reply ul, .blog-content ul, .single-blog-content ul {
         padding-left: 20px;
    }
     .post_reply ol, .blog-content ol, .single-blog-content ol {
         padding-left: 20px;
    }
     .comments-area .children {
         margin-left: 10px;
    }
     .comment_field .input-field {
         width: 100%;
    }
     .pdsr {
         padding-top: 50px;
    }
     .pdsl {
         padding-bottom: 90px;
    }
     #wp-calendar {
         display: block;
    }
    /* footer css */
     .lidership-blog-thumb_adn > a img {
         width: 100%;
    }
     .em-content-image > img {
         width: 100%;
    }
     .kc_video_play.kc_video_wrapper {
         overflow: scroll;
    }
     .banner-content h1 {
         font-size: 45px;
    }
     .banner-content h2 {
         font-size: 23px;
    }
     .banner-content p {
         width: 72%;
    }
     .em-team-content-image > img {
         width: 100%;
    }
	.em-team-content-waraper {
		top: -182px;
	}
     .form-address-item {
         width: 100%;
         margin-bottom:30px;
    }
     .home-2 .field.topfield .form-field {
         width: 100%;
    }
     .home-2 .field.topfield .form-field input {
         width: 100%;
    }
     .footer-social-icon a i {
         font-size: 16px;
         height: 35px;
         line-height: 35px;
         width: 35px;
    }
     .banner-content h1 {
         font-size: 28px;
    }
     .banner-content h2 {
         font-size: 16px;
    }
     .banner-content p {
         width: 98%;
    }
     .section-title p {
         font-size: 14px;
    }
     .portfolio_nav ul li {
         letter-spacing: 1px;
    }
     .form-title > h2 {
         font-size: 15px;
    }
     .em-service-title h2 {
         font-size: 17px;
    }
     .em_testi_content::after {
         right: -2%;
    }
	.blog-page-title_adn a {
	  font-size: 15px;
	}
     .mc4wp-form-fields input {
         width: 100%;
    }
     .mc4wp-form-fields button {
         right: 0;
    }
     .form-area {
         width: 95.7%;
    }
     .menu-height-space {
         height: 0;
    }
     .testimonial_list {
         width: 100%;
    }
     .lidership-blog-meta-left_adn a, .lidership-blog-meta-left_adn span {
         font-size: 13px;
    }
    /* em countdown */
     .countdown-style2 span.group::before, .countdown-style2 span.group::after {
         display: none;
    }
     .countdown-style2 span.group + span.group {
         margin-top:20px;
    }
    /* without carousel */
     .curosel-style .owl-nav div {
         left:0px;
    }
     .curosel-style .owl-nav .owl-next {
         left: auto;
         right: 0;
    }
     .image_curve {
         display:none;
    }
     .em_team_content_inner {
         padding: 0 20px 30px;
    }
     .em_team_content_inner::before {
         height: 251px;
         top: -41px;
    }
    /* Em-Creative Header */
		.mobile_menu_logo.text-center {
			padding: 0px 0 29px;
		}
		.creative_header_address {
			display: none;
		}
     .creative_header_curve {
         display: none;
    }
     .creative_header_logo {
         padding-right: 0;
         text-align: center;
    }
	.em_creative_header {
		padding: 25px 0 0;
	}
     .single_header_address {
         padding: 10px 71px 10px 0;
         text-align: center;
    }
     .creative_header_button {
         background: #f9f9f9 none repeat scroll 0 0;
         padding: 30px 0;
         position: relative;
         text-align: center;
    }
     .creative_header_icon {
         float: none;
         margin-bottom: 10px;
         margin-right: 0;
         overflow: hidden;
    }
     .creative_header_address .col-sm-4.col-xs-12{
         padding-left:0;
    }
     .em-feature-content-image img {
         width: 100%;
    }
     .em-call-to-action-desc {
         width: 78%;
    }
	.portfolio_nav ul li {
	  padding: 6px 7px;
	}
     .em-call-to-action-title h2 {
         font-size: 24px;
    }
	.em-call-to-action2 .em-call-to-action-desc {
	  width: 100%;
	}	
     .portfolio_nav ul li {
         font-size: 12px;
         margin: 10px 2px;
    }
     .single-video h3 {
         font-size: 25px;
    }
     .single-video h3 {
         font-size: 16px;
         padding-top: 0;
    }
     .creative_header_logo {
         display: none;
    }
     .creative_header_button::before, .em_creative_header::before, .em_creative_header::after {
         display: none;
    }
     .single_header_address.ctrp {
         padding-bottom: 40px;
    }
     .em_slider_social {
         display: none;
    }
    /* title */
     .section-title h2 {
         font-size: 25px;
    }
     .title_in_area {
         width: 100%;
    }
     .title_in {
         float: none;
    }
     .title_tx h2 {
         font-size:23px;
    }
     .mean-container .mean-bar::before {
         text-transform: uppercase;
         top: 15px;
    }
	.em-feature-thumb img {
		width: 100%;
	}
		 .tab-area .kc_tabs_nav > li > a, .tab-area .nav-pills > li > a {
         padding: 0 20px !important;
    }
     .video-icon a i {
         width: 56px;
         height: 56px;
         line-height: 48px;
         font-size: 25px;
    }
     .em-call-to-video {
         display: none;
    }
     .em-call-to-action-title span {
         font-size: 24px;
    }
     .em-call-to-action-desc {
         width: 100%;
    }
	.em-nivo-slider-wrapper .nivo-directionNav {
		display: none;
	}
     .curosel-style .owl-nav div {
         
    }
     .single-video img {
         height: 180px;
    }
     .em_slider_inner.container.text-right, .em_slider_inner.container.text-center, .em_slider_inner.container.text-left {
         text-align: center;
    }
     .footer-middle .widget h2{
         margin-top: 25px;
    }
     .footer-middle {
         padding: 70px 0 88px;
    }
     .form-controls .field.topfield .form-field:nth-child(2n) {
         margin-left: 0%;
    }
     .comment_field .input-field label, .comment_field .textarea-field label {
         margin-bottom: 7px;
    }
     .pr-title {
         margin-bottom: 15px;
    }

	.team-style-3 .em-content-image-inner {
	  float: none;
	  margin-right: 0;
	}	
		
	.team-style-3 .em-content-waraper {
		text-align: center;
	}
	.team-style-3 .em-content-waraper::before {
	  top: 97px;
	  width: 100%;
	}
	.recent-post-text > h4 {
		margin-top: 24px;
	}
	.page-numbers li {
		margin-bottom: 15px;
	}
	.style_two .em_content_text h2 {
		font-size: 19px;
		margin-bottom: 15px;
	}
	.em-team-content-title h2 {
		font-size: 25px;
	}
	.banner-content h2, .banner-content h1 {
		font-size: 26px;
	}
	
	.banner-content p {
		width: 98%;
		display: none;
	}
	.banner-area .btn {
		margin-top: 25px;
		padding: 10px 16px;
		font-size: 12px;
	}
		.banner-content {
		left: 11%;
	}
	.style-two .em-team-content-waraper {
		opacity: 0;
	}
	.style-two.em-team:hover .em-team-content-waraper {
		background: rgba(255,255,255,0.9);
		opacity: 1;
		height: 35%;
	}	

	.banner-slick.banner-content .b-batton.active .btn {
		background: #333;
		display: none;
	}
	.banner-slick .b-batton {
		display: inline-block;
		margin-right: 0;
	}	
	.banner-area .banner-slick .btn {
		margin-top: 23px;
	}	
	.home-2 .field.topfield .form-field {
	float: left;
	width: 100%;
	margin-bottom: 30px;
	}
	.heading h3, .field {
		overflow: hidden;
		padding-bottom: 0;
		width: 100%;
	}
	.buttons {
		margin-top: 35px;
	}
	.heading h3, .field {
		overflow: hidden;
		padding-bottom: 0;
		width: 100%;
	}
	.home-2 .field.topfield .form-field input {
		width: 100%;
		margin-bottom: 40px;
	}
	.em_slider_inner {
		left: 0;
	}
	.em_slider_inner.container.text-right, .em_slider_inner.container.text-center, .em_slider_inner.container.text-left {
	 text-align: left;
	}
	.kc_tabs_nav, .nav-pills {
		border-bottom: 0;
		padding-top: 29px !important;
	}
	
	.kc_tabs_nav > li, .nav-pills > li {
		float: none !important;
		display: block !important;
		border-bottom: 0;
		border: 0 !important;
		line-height: 0;
	}
	.kc_tabs_nav > li > a, .nav-pills > li > a {
		padding: 0 30px 16px !important;
	}
	.tab_pan_content h2 {
		margin-top: 30px;
	}
	.single_slide_img {
		display: none;
	}
	.home-2.seo-score .form-area {
		padding: 0 0 0 29px;
	}
	.home-2.seo-score .field.topfield .form-field.button-field input {
		width: 98%;
	}
	.home-2.seo-score .field.topfield .form-field {
		float: left;
		width: 50%;
	}	
	.home-2.seo-score .field.topfield .form-field input {
		width: 97%;
		float: left;
		height: 40px;
		border-radius: 0;
		padding-left: 5px;
	}	
	.home-2.seo-score .field.topfield .form-field {
		margin-bottom: 0;
	}
	.home-2.seo-score .field.topfield .form-field.button-field {
		float: left;
		width: 100%;
	}
	.nav-pills li i {
		padding-top: 12px;
	}
	.em_post_tab_thumb {
		box-shadow: none;
	}
	.tab_pan_content {
		box-shadow: none;
		padding: 0;
	}
	.slider_single_img {
		display: none;
	}
	.em-slick-slider-new .banner-content {
		left: 4%;
	}
	.em_testi_text {
		width: 100%;
	}
	.form-area {
		margin-top: 50px;
	}
	.single-video-content h4 {
		letter-spacing: 2px;
	}
	.single-video-content p {
		width: 93%;
	}
	.em-slider-title {
		margin-bottom: 8px;
	}
	.em_about_us_thumb img {
		width: 100%;
	}
	.signature_thumb img {
		width: inherit;
	}
	.about_comments {
		display: none;
	}
	.em-feature-thumb img {
		width: 100%;
	}
	span.cdowns {
		margin: 0 0 30px;
	}
	span.cdowns::before {
		display:none;
	}
	span.cdowns::after {
		display:none;
	}
	.kc_tabs_nav > li, .nav-pills > li {
		margin-right: 0;
		margin-bottom: 30px;
	}
	.event_date_list {
		width: 75px;
		height: 75px;
	}
	.testimonial .em_single_testimonial {
		padding-bottom: 20px;
	}
	.em-call-to-action2 .em-call-to-action-desc {
		width: 95%;
	}
	.em-content-image-inner img {
		width: 100%;
	}
	.form-style-one .field.topfield .form-field {
		width: 100%;
	}
	.form-field textarea, .field.topfield .form-field input {
		width: 100%;
	}
	.form-field textarea {
		width: 100%;
	}
	.lidership-blog-meta_adn {
		padding: 8px 6px 7px;
	}
	.education-date span {
		padding: 0;
		background: transparent;
		color: #fff;
	}
	.education_text h3 {
		font-size: 15px;
	}
	.education_text {
		padding: 0;
		box-shadow:none;
		background: transparent;
		padding-left: 20px;
	}
	.education_text p {
		display: none;
	}
	.education-timline .single-education:nth-child(even) .education_text {
		float: left;
		text-align:right;
		padding-left:0; 
		padding-right:20px;
	}
	.effective-content h2 {
		font-size: 24px;
	}
	.effective-content p {
		width: 94%;
	}
	.effective-content > h5 {
		font-size: 20px;
	}
	.effective_slider_btn a {
		padding: 8px 32px;
		margin: 0 4px;
	}
	.lidership-event-meta-left_adn a, .lidership-event-meta-left_adn span {
		margin-right: 7px;
		font-size: 12px;
	}
	.em-event-content-area_adn {
		padding: 12px;
	}
	.event-description span.cdowns {
		margin: 8px 8px;
	}
	.carousel-single-slide-content h1, .carousel-single-slide-content h2, .carousel-single-slide-content h3 {
		font-size: 35px !important;
		line-height: 51px !important;
	}
	.carousel-single-slide {
		min-height: 600px !important;
	}
	.carousel-single-slide-content p {
		width: 100% !important;
	}
	.em-call-to-action1 .em-call-to-action-title h2 {
		width: 100%;
	}	
}
/* ------------------------------------------------- Large Mobile :480px. ---------------------------------------------------*/
 @media only screen and (min-width: 480px) and (max-width: 767px) {
     .em-slider-button {
         display: block;
    }
	.em-button-button-area a {
		padding: 5px 20px;
	}
     .banner-content p {
         width: 92%;
    }
     .single-video h3 {
         font-size: 22px;
    }
     .brand_logo .kc_col-sm-2{
         width:50% !important;
    }
     .em-call-to-action-title span {
         font-size: 34px;
    }
     .single-video img {
         display: block;
         width: 100%;
    }
	.blog-page-title_adn a {
		font-size: 16px;
	}
     .copy-right-text p {
         font-size: 14px;
    }
	span.cdowns::after,
	span.cdowns::before {
		display: none;
	}
	span.cdowns {
		display: inline-block;
		margin: 0 29px 30px;
	}

	
}
 @media only screen and (min-width: 600px) and (max-width: 767px) {

     .lidership-blog-meta-left_adn a, .lidership-blog-meta-left_adn span {
         font-size: 12px;
    }
}


 