
body {	
    color: #6d6d6d;
    font-family: 'Noto Sans Armenian', serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 1.7;
}
p {

    font-weight: 400;
	font-style: normal;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #004999;
    font-family: 'Noto Sans Armenian', serif;
    font-style: normal;
	margin-bottom: 0;
	margin-top: 11px;
    line-height: 1.2;
    font-weight: 700;
    -webkit-transition: .5s;
    transition: .5s; 
	font-size:40px;
}
h1{}
h2{}
h3{}
h4{}
h5{}
h6{}
a{
    -webkit-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}
a{
	 color: #333;
}N
a:focus,
.btn:focus {
    text-decoration: none;
    outline: none;
}
a:focus,
a:hover {
    text-decoration: none;
    text-decoration: none;
}
.uppercase {
    text-transform: uppercase;
}
.capitalize {
    text-transform: capitalize;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    color: inherit;
    -webkit-transition: .5s;
    transition: .5s;
}
h1 {
    font-size: 36px;
}
h2 {
    font-size: 22px;
	font-weight:600;
	
}
h3 {
    font-size: 28px;
}
h4 {
    font-size: 22px;
}
h5 {
    font-size: 18px;
}
h6 {
    font-size: 16px;
}
ul {
    margin: 0px;
    padding: 0px;
}
li {
  
}

ul {
    margin: 0;

    padding: 0;
}
li {
 
}
input:focus,
button:focus
{
	border-color:transparent;
	outline-color:transparent;
}
textarea:focus{
	border-color:transparent;
	outline-color:transparent;
}
hr {
    margin: 60px 0;
    padding: 0px;
    border-bottom: 1px solid #eceff8;
    border-top: 0px;
}
hr.style-2 {
    border-bottom: 1px dashed #f10;
}
hr.mp-0 {
    margin: 0;
    border-bottom: 1px solid #eceff8;
}
hr.mtb-40 {
    margin: 40px 0;
    border-bottom: 1px solid #eceff8;
    border-top: 0px;
}
label {
	color: #666;
	cursor: pointer;
	font-size: 14px;
	font-weight: 300;
	margin-bottom:10px;
}

a,i, cite, em, var, address, dfn,ol,li,ul{
	font-style:normal;
	font-weight:400;
}



*::-moz-selection {
    background: #4fc1f0;
    color: #333;
    text-shadow: none;
}
::-moz-selection {
    background: #4fc1f0;
    color: #333;
    text-shadow: none;
}
::selection {
    background: #4fc1f0;
    color: #333;
    text-shadow: none;
}
::-moz-placeholder {
    color: #666;
    font-size: 12px;
}
::-webkit-input-placeholder {
    color: #666;
    font-size: 12px;
}
:-ms-input-placeholder {
    color: #666;
    font-size: 12px;
}
::placeholder {
    color: #666;
    font-size: 12px;
}



